:root {
    --iitheader: #37466c;
    --iitcard: #0072af;
    --iitlogo: #525252;
    --iitfooter: #5872b5;
    --text: #ffffff;
    --citation: #123bb6;
    --citationbg: #d1dbfa;
    --answercardbg: #123bb6;
}
