@import "./../../../ictconst.css";

.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.about_footer {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    background-color: var(--iitfooter);
    opacity: 0.85;
}

.about_cardcontainer {
    position: relative;
    margin-bottom: 22px;
    height: 100%;
}

@media (max-width: 992px) {
}

.about_footer_text {
    text-align: center;
    color: white;
    font-style: italic;
    margin: 10px;
    font-weight: 400;
    text-wrap: wrap;
    font-size: 0.875rem;
}
.about_allert_text span {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.about_footer_text a {
    color: white;
    text-decoration: none;
}

.about_footer_text a:visited {
    color: white;
}
.about_footer_text a:hover {
    color: white;
    font-weight: 600;
}

.about_footer_text a:active {
    color: rgba(255, 255, 255, 0.556);
    font-weight: 600;
}
.about_version {
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin-top: 10px;
    font-size: 0.75rem;
    font-style: italic;
}
