.documentlist_KnowledgeTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.documentlist_loading {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #ba000d;
}

.documentlist_ul {
    list-style-type: circle;
    line-height: 90%;
}

.documentlist_li {
    cursor: pointer;
}

.documentlist_li:hover {
    color: blue;
    content: "Sta caricando";
}

.documentlist_li:active {
    color: red;
    font-weight: 600;
}

.documentlist_counter {
    margin: 10px;
    font-weight: 500;
}

.documentlist_citationcontainer {
    background-color: rgb(255, 165, 0);
    position: absolute;
    align-items: center;
    z-index: 2;
    border: 3px solid rgb(0, 0, 0);
}

.documentlist_citationcontent {
    height: 700px;
}
