.container {
    display: flex;
    align-items: center;
    gap: 0.375em;
    cursor: pointer;
    padding: 0.5rem;
}

@media (max-width: 992px) {
    .container Button {
        display: none;
    }
}
