.examplesNavList {
    max-width: 1100px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 0;
    justify-content: center;
}
@media only screen and (max-width: 1340px) {
    .examplesNavList {
        max-height: 500px;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1;
        justify-content: center;
    }
}

.example {
    word-break: break-word;
    background: #000000d8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

.example:hover {
    box-shadow:
        0px 8px 16px rgba(0, 0, 0, 0.14),
        0px 0px 2px rgba(0, 0, 0, 0);
    outline: 3px solid #ffffff;
    opacity: 0.9;
}

.exampleText {
    margin: 0;
    width: 400px;
    min-height: 20px;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.exampleText:hover {
    font-size: 15.5px;
}

@media only screen and (max-height: 780px) {
    .exampleText {
        font-size: 15px;
        width: 300px;
        position: relative;
        bottom: 2px;
        font-weight: 600;
    }
}
