@import "./../../../ictconst.css";

.loginButton {
    border-radius: 15px;
    border-width: 2px;
    border-color: var(--iitcard);
    background-color: #fffffff2;
    /* padding: 30px 30px; */
    font-weight: 100;
}
.loginButton:hover {
    opacity: 0.9;
}
.loginButton:active {
    opacity: 1;
}
